# FastAPI and web framework dependencies
vllm==0.9.1

torch==2.7.0
torchvision==0.22.0
torchaudio==2.7.0

# streamlit
gradio
gradio_image_annotation
PyMuPDF
openai
qwen_vl_utils
transformers==4.51.3
huggingface_hub
modelscope
flash-attn==2.8.0.post2
accelerate
